:root {
    --spacing: 0.60rem;
}

body>main {
    padding-top: calc(var(--block-spacing-vertical) + 3.5rem);
}

nav {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--card-background-color);
}

.focus {
    --background-color: var(--primary-focus);
    --color: var(--primary-hover);
}

.person {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "h3"
        "img"
        "p";
}

@media (min-width: 992px) {
    .person {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "h3 img"
            "p img";
    }
}

.person h3 {
    grid-area: h3;
}

.person p {
    grid-area: p;
}

.person img {
    grid-area: img;
    margin-bottom: calc(var(--spacing) * 2);
}


article.small-concert {
    padding: var(--block-spacing-horizontal) var(--block-spacing-horizontal);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: var(--block-spacing-horizontal) 0 var(--block-spacing-vertical) 0;
}

article.small-concert:hover {
    background-color: var(--dropdown-hover-background-color);
}

article.small-concert h1,
article.small-concert h2,
article.small-concert h3,
article.small-concert h4,
article.small-concert h5,
article.small-concert h6 {
    margin-bottom: 0;
}

article h3.single {
    margin-bottom: calc(var(--spacing) / 2);
}

article.concert strong {
    margin-right: 0.5rem;
}

article.concert .grid {
    align-items: end;
    gap: var(--spacing);
}

article.concert .right {
    text-align: right;
}

.center {
    text-align: center;
    margin-bottom: 0;
}

/* nav {
    position: fixed;
} */