/* General */

:root {
    --spacing: 0.60rem;
    --background-color: #202020;
    --card-background-color: #2c2b31;
    --dropdown-hover-background-color: #35333d;
    /* --background-color: #201c24;
    --card-background-color: #2e2536;
    --dropdown-hover-background-color: #3b2e49; */
    --card-sectionning-background-color: var(--dropdown-hover-background-color);
    --primary: rgb(129, 118, 88);
    --primary-hover: rgb(155, 140, 104);
    --primary-light: rgb(209, 189, 141);
    --primary-hover-light: rgb(245, 222, 168);
    --primary-focus: rgb(178, 160, 119, 0.2);
    --muted-color: hsl(205, 7%, 68%);
    --border-radius: 0.35rem;
    --blockquote-border-color: rgb(68, 63, 46);
    --modal-overlay-background-color: rgba(32, 32, 32, 0.7);
}

@font-face {
    font-family: DancingScript;
    src: url(../fonts/DancingScript-Regular.ttf);
    font-display: swap;
}

body>main {
    padding-top: 3.5rem;
}

main>h2 {
    text-align: center;
    color: var(--primary-light);
    margin-top: calc(var(--typography-spacing-vertical) * 1.5);
    margin-bottom: calc(var(--typography-spacing-vertical) * 0.5);
}

main>h5 {
    margin-bottom: var(--spacing);
}

.hidden {
    display: none;
}

/* Navbar */

nav.container-fluid {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--card-background-color);
    --primary: var(--primary-light);
    --primary-hover: var(--primary-hover-light);
    box-shadow: var(--card-box-shadow);
    padding-left: var(--nav-element-spacing-vertical);
    padding-right: var(--nav-element-spacing-vertical);
}

@media (max-width: 575px) {
    nav li.optional {
        display: none;
    }
}

nav a[aria-current="page"] {
    text-decoration: underline;
}

nav #home svg {
    height: 2rem;
    width: 2rem;
}

nav a svg {
    height: 1.3rem;
    width: 1.3rem;
    margin-top: -0.2em;
    color: var(--primary);
}

nav a svg:hover {
    margin-top: -0.2em;
    color: var(--primary-hover);
}

/* Header */

header {
    position: relative;
    margin-bottom: var(--block-spacing-vertical);
}

header img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

header h1 {
    font-family: DancingScript, serif;
    font-size: 4rem;
    color: hsl(205deg, 20%, 94%);
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: calc(var(--spacing) * 5) var(--spacing) var(--spacing) var(--spacing);
    text-shadow: 0 0 0.5rem black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    text-align: center;
}

@media (max-width: 767px) {
    header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 575px) {
    header h1 {
        font-size: calc((100vw - 4 * var(--spacing)) * 0.1);
    }
}

header h1 svg {
    height: 1.5em;
    width: 1.5em;
    margin-top: -0.35em;
    filter: drop-shadow(0 0 0.5rem black);
}

/* Small concerts */

.small-concerts-header {
    text-align: center;
    margin-bottom: var(--spacing);
    color: var(--primary-light);
}


.small-concerts {
    display: grid;
    grid-template-columns: 1fr;
    /* Adjust the minimum width (200px in this example) */
    /* display: flex; */
    flex-wrap: wrap;
    gap: var(--block-spacing-horizontal);
    /* flex-direction: column; */
    justify-content: center;
    margin-bottom: var(--typography-spacing-vertical);
}

@media (min-width: 768px) {
    .small-concerts {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.small-concerts article {
    flex: 1;
    padding: var(--block-spacing-horizontal) var(--block-spacing-horizontal);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0;
    /* max-width: 920px;
    min-width: 300px; */
}

article.small-concert:hover {
    background-color: var(--dropdown-hover-background-color);
}

article.small-concert:focus {
    background-color: var(--dropdown-hover-background-color);
}

article.small-concert div:nth-child(1) {
    font-size: var(--font-size);
    color: var(--h6-color);
    font-weight: bold;
}

article.small-concert div:nth-child(2) {
    font-size: 1.2rem;
    color: var(--h2-color);
    font-weight: bold;
}

article.small-concert div:nth-child(3) {
    font-size: var(--font-size);
    color: var(--h4-color);
}

article.small-concert div:nth-child(3).special-date {
    font-weight: bold;
    color: var(--primary-hover-light);
}

article.small-concert h1,
article.small-concert h2,
article.small-concert h3,
article.small-concert h4,
article.small-concert h5,
article.small-concert h6 {
    margin-bottom: 0;
}

.small-concerts-link {
    text-align: center;
}

.small-concerts-link a {
    color: var(--primary-light);
}

/* About us */

.person {
    margin-bottom: var(--typography-spacing-vertical);
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "h4"
        "img"
        "p";
}

.person h4 {
    grid-area: h4;
    margin: 0;
    text-align: center;
}

.person p {
    grid-area: p;
}

.person img {
    grid-area: img;
    border-radius: var(--border-radius);
    justify-self: center;
}


@media (min-width: 768px) {
    .person {
        grid-template-columns: 1fr 15rem;
        grid-template-rows: auto;
        align-items: start;
        grid-template-areas: "h4 img"
            "p img"
            ". img";
    }

    .person h4 {
        text-align: left;
    }
}

/* Projects */

blockquote {
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}

figure figcaption {
    font-style: normal;
    padding: calc(var(--spacing) * 0.5) 0 0 0;
}

figcaption::before {
    content: "— ";
}

.lazyframe,
iframe,
video {
    width: 560px;
    max-width: 100%;
}

/* Concerts */

article h3.single {
    margin-bottom: calc(var(--spacing) / 2);
}

article.concert {
    margin-top: 0;
}

article.concert strong {
    margin-right: 0.5rem;
}

article.concert .grid {
    align-items: end;
    gap: var(--spacing);
}

article.concert .right {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) / 2);
    justify-content: end;
}

article.concert span {
    display: inline-block;
}

article.concert svg {
    height: 1.2em;
    width: 1.2em;
    margin-top: -0.3em;
    margin-right: -0.1em;
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery a {
    margin: calc(var(--spacing) * 0.3);
}

.gallery img {
    max-height: 7rem;
    border: 2px solid white;
    transition: 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}


.sl-overlay {
    background: black !important;
}

.sl-spinner {
    border: 5px solid #aaa !important;
}

.simple-lightbox * {
    color: white !important;
}

.sl-wrapper .sl-image .sl-caption {
    background: transparent;
    text-align: right;
    text-shadow: 0 0 0.3rem black;
}

footer {
    --primary: var(--primary-light);
    --primary-hover: var(--primary-hover-light);
}

dialog main {
    height: 75vh;
    overflow: auto;
}

dialog li {
    margin-left: var(--spacing)
}